/* Rappel Typo

font-family: 'Roboto Condensed', sans-serif;

font-family: 'Yeseva One', cursive;

*/

* {
    font-family: 'Roboto Condensed', sans-serif;
}

html,
body {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

p,
blockquote {
    margin: 0;
}

a,
a:hover,
input[type=submit] {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1,
h2,
h3 {
    margin: 0;
}

/* FIN - RESET */

/* ====== RÃ©glages Overall ========== */

.overall {
    display: inline-block;
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 1170px;
    vertical-align: top;
}

.boutique .overall {
    padding-left: 50px;
}

footer .overall {
    padding-left: 50px;
}

/* ==============================
=========== HEADER ========
=================================*/

.header-overall {
    z-index: 10;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 35px 50px;

    max-width: 1920px;
}

.header-home {
    position: relative;
    height: 920px;
}

.owl-carousel {
    overflow: hidden;
}

.owl-carousel .owl-dots {
    z-index: 1000;
    position: absolute;
    bottom: 60px;
    left: calc(50% - 114px);
    width: auto;
    height: 15px;
    margin: auto;
    text-align: center;
}

.owl-carousel .owl-dot {
    display: inline-block;
    z-index: 1000;
    width: 60px;
    height: 4px;
    margin: 8px;
    text-align: center;
    background-color: white;
}

.active {
    background-color: #FBA03B !important;
}

.flex-wrapper {
    display: flex;
}

header .owl-carousel {
    position: absolute;
    width: 100%;
    height: 100%;
}

.owl-carousel,
.owl-stage-outer,
.owl-stage,
.owl-item,
.item-header {
    height: 100% !important;
}

.owl-item img {
    min-height: 100%;
}

/* ==============================
=========== NAV HEADER ========
=================================*/

header .row_nav {
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

header .left {
    z-index: 2;
    display: inline-block;
    position: absolute;
    left: 0;
    width: 15%;
    vertical-align: top;
}

header .left a img {
    transition: all 500ms;
    width: 85px;
    height: auto;
}

header .left a:hover img {
    width: 95px;
}

header .right {
    display: inline-block;
    position: absolute;
    right: 35px;
    width: 15%;
    text-align: right;
    vertical-align: top;
}

header .row_nav {
    position: relative;
    text-align: center;
}

header .row_nav .flex-wrapper {
    width: 100%;
}

header .row_nav nav {
    z-index: 1;
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

header .row_nav nav ul {
    list-style: none;
}

header .row_nav nav ul li {
    position: relative;
    display: inline-block;
    padding: 40px 10px 5px 10px;
}

header .row_nav nav ul li a {
    display: inline-block;
    /*padding: 40px 6% 5px 6%;*/
    min-width: 80px;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    color: white;
    transition: all 500ms;
}

header .row_nav nav ul li a:hover,
header .row_nav nav ul li.current a {
    color: rgba(216, 216, 216, 0.7);
}

header .row_nav nav ul li:last-child a {
    margin-left: 50px;
    /*padding: 10px 20px;*/
    /*text-transform: uppercase;*/
    /*font-weight: 700;*/
    /*color: #FBA03B;*/
    /*background-color: transparent;*/
    /*border: 2px solid #FBA03B;*/
    /*transition: all 500ms;*/
}

header .row_nav nav ul li:last-child a:hover {
    /*color: white;*/
    /*background-color: #FBA03B;*/
}

header .row_nav nav ul li.current:after {
    position: absolute;
    bottom: 0;
    content: " ";
    width: 50px;
    left: calc(50% - 25px);
    height: 1px;
    background: rgba(216, 216, 216, 0.7);
}

header .row_nav nav ul li:last-child:after {
    display: none;
}

header .header-title {
    display: inline-block;
    margin: auto;
    padding-top: 200px;

    text-align: center;
    vertical-align: middle;
}

header .header-title img {
    width: 100%;
}

header .header-title h1 {
    text-transform: uppercase;
    font-size: 2.688em;
    font-weight: 500;
    color: white;
}

header .header-bg-carousel .owl-nav {
    position: relative;
    top: -290px;
    left: -60px;
}

/* ==============================
=========== CONTENU HOME ========
=================================*/

section.content-home {
    position: relative;
    width: 100%;
    height: 524px;
    max-height: 524px;
}

section .illustration-roue {
    z-index: 10;
    position: absolute;
    bottom: -5px;
    left: calc(50% - 110px);
}

section .bg-content-wrapper .bg-content-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url('../images/home_histoiredusel.jpg') center center no-repeat #CBBB9D;
    background-size: cover;
}

section .bg-content-wrapper .bg-content-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url('../images/home_bg-content1.jpg') center right no-repeat #CBBB9D;
    background-size: cover;
}

section .overall .txt-content {
    box-sizing: border-box;
    width: 50%;
    margin-left: 50%;
    padding-top: 90px;
    padding-left: 100px;
    vertical-align: middle;
    color: white;
}

section .overall .txt-content h2 {
    margin-bottom: 0;
    font-family: 'Yeseva One', cursive;
    font-size: 3.75em;
}

section .overall .txt-content h3 {
    margin-top: 0;
    font-family: 'Yeseva One', cursive;
    font-size: 2em;
}

section .overall .txt-content p {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 1.125em;
}

.decouvrir {
    color: #FBA03B;
    font-family: 'Yeseva One', cursive;
    font-size: 1.3em;
    transition: all 500ms;
}

.decouvrir img {
    margin-left: 5px;
    vertical-align: -4px;
}

.decouvrir:hover {
    color: #FBA03B;
    opacity: 0.7;
    margin-left: 8px;
}

/* ==============================
=========== EN CE MOMENT ========
=================================*/

.content-news {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
    padding-bottom: 60px;
    vertical-align: top;
}

.content-news .bg-news-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/home_bg-content2_970-700.jpg') left bottom no-repeat #d2bb9c;
    background-size: contain;
}

.content-news h2 {
    margin-left: calc(50% + 100px);
    padding-top: 60px;
    font-family: 'Yeseva One', cursive;
    font-size: 4.25em;
    color: white;
}

.event-home {
    display: block;
    width: 100%;
    height: 270px;
    padding: 20px 0;
    vertical-align: top;
}

.event-home a {
    display: block;
}

.event-home a img {
    transition: all 500ms;
    position: relative;
    right: 0;
}

.event-home a:hover img {
    position: relative;
    right: -15px;
}

.event-home .event-left {
    display: inline-block;
    float: left;
    position: relative;
    box-sizing: border-box;
    width: 50%;
    text-align: right;
    vertical-align: top;
}

.event-home .event-left .tirait {
    position: absolute;
    top: 30px;
    right: -51px;
}

.event-home .event-left .img-wrapper {
    display: inline-block;
    width: 500px;
    height: 250px;
    overflow: hidden;
}

.event-home .event-left img:not(.tirait) {
    min-height: 100%;
    min-width: 100%;
}

.event-home .event-left .category {
    position: absolute;
    right: 14px;
    bottom: -10px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: #FBA03B;
}

.event-home .event-right {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding-left: 100px;
    vertical-align: top;
}

.event-home .event-right h5 {
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    color: #857453;
    transition: all 500ms;
}

.event-home a:hover .event-right h5 {
    color: #333234;
}

.event-home .event-right h6 {
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1em;
    font-style: italic;
    font-weight: 700;
    color: #333234;
}

.event-home .event-right p {
    margin-top: 20px;
    font-size: 1.125em;
    color: #333234;
}

.content-news .link-news {
    display: block;
    z-index: 100;
    margin-top: 30px;
    padding: 20px;
    text-align: center;
}

.content-news .link-news a {
    z-index: 10000;
    padding: 20px 130px;
    border: 1px solid white;
    text-transform: uppercase;
    font-size: 1.125em;
    color: white;
    background-color: #d2bb9c;
    transition: all 500ms;
}

.content-news .link-news a:hover {
    color: #d2bb9c;
    background: white;
}

/* ==============================
=========== BOUTIQUE ========
=================================*/

.boutique {
    position: relative;
    width: 100%;
    height: auto;
    vertical-align: top;
}

.boutique .bg-boutique-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/notreboutique-bg.jpg') center center no-repeat #3E3D40;
    background-size: cover;
}

.boutique .boutique-left {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 50px 0;
}

.boutique .boutique-left h2 {
    display: inline-block;
    margin: 0;
    text-align: right;
    font-family: 'Yeseva One', cursive;
    font-size: 4.75em;
    vertical-align: top;
    color: white;
}

.boutique .boutique-left img {
    margin-left: 20px;
    border: 4px solid white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    transition: all 500ms;
}

.boutique .boutique-left img:hover {
    opacity: 0.5;

}

.boutique .boutique-right {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 50px 15px 50px 100px;
}

.boutique .boutique-right h3 {
    margin-top: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
}

.boutique .boutique-right p {
    margin-top: 20px;
    font-size: 1.125em;
    color: white;
}

.boutique-right .decouvrir {
    margin-top: 25px;
    display: inline-block;
}

/* ==============================
=========== FOOTER ========
=================================*/

footer {
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
}

footer .bg-footer-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(62, 61, 64, 0.05);
}

footer .footer-left {
    float: left;
    width: 50%;
    padding: 50px 0;
}

footer .footer-right {
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: auto;
    padding: 80px 20px;
}

footer .contact {
    margin-top: 10px;
}

footer .contact-line {
    margin-top: 10px;
}

footer .contact-line img {
    display: inline-block;
    vertical-align: top;
}

footer .contact-line p {
    display: inline-block;
    padding-left: 10px;
    margin-top: 2px;
    font-size: 1.125em;
    vertical-align: top;
}

footer .contact-line a {
    color: #A59880;
    transition: all 500ms;
}

footer .contact-line a:hover {
    color: #756850;
}

/*footer .contact-line .facebook {*/
/*color: #A59880;*/
/*}*/
footer .logo img {
    padding: 15px 40px 0 0;
    vertical-align: -7px;
}

footer .logo-line {
    display: block;
}

footer .logo-line img {
    display: inline-block;
    vertical-align: top;
}

#CDSWIDSSP {
    width: 280px !important;
    margin: 0 auto !important;
}

/* ============ PAGE CONTENU ============== */

/* ==============================
=========== HEADER PAGE CONTENU ========
=================================*/

.header-page {
    position: relative;
    height: 660px;
}

.header-overall-page {
    z-index: 10;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 25px 25px;
    max-height: 660px;
    max-width: 1920px;
}

.header-overall-page img {
    height: 90px;
}

header .bg-header-page {
    position: absolute;
    width: 100%;
    height: 660px;
    max-height: 660px;
    background: url('../images/contenu_bg-header.jpg') center center no-repeat #CBBB9D;
    background-size: cover;
}

.bg-row-page {
    position: absolute;
    width: 100%;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-breadcrumb-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 40px;
    background-color: white;
}

.breadcrumb {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 40px;
}

.breadcrumb a {
    padding: 0 15px;
    font-style: italic;
    color: #3E3D40;
    transition: all 500ms;
}

.breadcrumb a:hover {
    color: black;
}

.separator {
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: #E6E6E6;
}

/* ==============================
=========== PAGE CONTENU ========
=================================*/

.content-page {
    position: relative;
    height: auto;
    background: url('../images/contenu_bg-content.png') no-repeat #fff;
    background-position-y: 140px;
}

.content-page h1 {
    margin-top: 50px;
    font-family: 'Yeseva One', cursive;
    font-size: 4.75em;
    font-weight: normal;
    vertical-align: top;
    color: #3E3D40;
}

.content-page h2 {
    margin-top: 20px;
    font-family: 'Yeseva One', cursive;
    font-size: 2.875em;
    margin-bottom: 40px;
    vertical-align: top;
    color: #A59880;
    font-weight: normal;
}

.page-row-content {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    /*margin-top: 40px;*/
}

.page-row-content img {
    height: auto !important;
}

.content-page h3 {
    margin: 0 0 20px;
    font-size: 1.875em;
    font-weight: 700;
    color: #FBA03B;
    clear: both;
}

.content-page p,
.content-page h4,
.content-page h3,
.content-page h2 {
    /*padding-left: 15px;*/
}

.content-page p {
    width: 100%;
    margin-bottom: 35px;
}

.content-page li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-page a {
    color: #A59880;
    transition: all 500ms;
}

.content-page a:hover {
    color: #756850;
}

.content-page td p {
    width: 100%;
    margin-bottom: 10px;
}

.content-page .content-right img,
.content-page .content-left img {
    width: 100%;
    height: 100%;
}

.content-page .img-principale {
    height: 400px;
    text-align: center;
    overflow: hidden;
}

.content-page .img-principale img {
    width: auto;
    height: auto;
}

.content-left {
    float: left;
    box-sizing: border-box;
    width: 50%;
}

.content-right {
    float: left;
    box-sizing: border-box;
    width: 50%;
}

h1+.page-row-content .content-right {
    padding-top: 100px;
}

h3.contact-title {
    margin-top: 113px;
}

.content-right p,
.content-right h2,
.content-right h3 {
    padding-left: 70px;
    width: calc(100% - 70px);
}

.content-right ul {
    padding-left: 90px;
    width: calc(100% - 90px);
}

.content-left p,
.content-left h3 {
    padding-right: 50px;
    width: calc(100% - 50px);
}

.content-left {
    vertical-align: bottom;
}

.row-img-content {
    display: inline-block;
    width: 100%;
}

.row-img-content .wrapper {
    display: inline-block;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 33.3333333333%;
    padding-top: 33.33333% !important;
}

.row-img-content .wrapper img {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    height: calc(100% - 20px);
    width: auto;
    max-width: none;
    cursor: pointer;
}

.row-img-content .wrapper:first-child img {
    left: 0;
}

.row-img-content .wrapper:first-child {
    padding: 10px 10px 0 0;
}

.row-img-content .wrapper:nth-child(2) {
    padding: 10px 10px 0 10px;
}

.row-img-content .wrapper:last-child {
    padding: 10px 0 0 10px;
}


/*============================
  =========== TABLEAU ========
  ============================*/

.row-form {
    display: inline-block;
    z-index: 100;
    width: 100%;
    height: auto;
    margin-top: 40px;
}

table {
    z-index: 100;
    width: 100%;
    max-width: 100% !important;
    border-collapse: separate;
    border-spacing: 5px;
    text-align: center;
    margin-bottom: 30px;
}

table th {
    width: 240px;
    height: 100px;
    padding: 8px;
    font-weight: 500;
    color: white;
    background-color: #333234;
}

table th strong {
    display: block;
    margin: 0;
    font-size: 1.25em;
    font-weight: 700;
}

.empty {
    opacity: 0;
}

table td {
    width: 240px;
    height: 55px;
    padding: 8px;
    border: 1px solid #CBBB9D;
    background-color: white;
}

table td:first-child {
    width: 350px;
}

table td img {
    vertical-align: middle;
    margin-right: 20px;
}

table td a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white !important;
    background-color: #CBBB9D;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    padding-top: 15px;
    transition: all 500ms;
}

table td a:not([href="#"]):hover {
    background-color: #AB9B8D;
}

table td a[href="#"] {
    cursor: default;
}

table:not([summary="horaires"]):not([summary="transport"]):not([summary="visites"]):not([summary="boutique"]) tr td:first-child {
    text-align: left;
    padding: 0 20px;
}

table[summary=visites] tr:nth-child(2) td {
    padding: 10px 5px;
}

table th:empty {
    opacity: 0;
}

table[summary=horaires] {
    font-size: 1.3em;
}

table[summary=horaires] th {
    height: 30px;
    background: transparent;
    color: #333;
}

table[summary=horaires] td {
    background: #A59880;
}

.tableau table .colonne1 {
    background-color: #CBBB9D;
}

.contenu-actu h3 {
    clear: none;
}

/* ==============================
=========== FORMULAIRE ========
=================================*/

.col-50 {
    float: left;
    box-sizing: border-box;
    width: 50%;
}

.titre-form {
    margin-bottom: -30px;
    padding-left: 100px;
}

form {
    margin-bottom: 50px;
    padding-left: 100px;
}

form fieldset {
    padding: 12px 0 12px;
    border: 0;
    position: relative;
}

form fieldset img {
    position: absolute;
    left: -16px;
    top: 30px;
    width: 37px !important;
    height: 1px !important;
    display: inline-block;
}

form fieldset label {
    display: inline-block;
    box-sizing: border-box;
    width: 33.3% !important;
    height: 44px;
    padding-top: 10px;
    padding-left: 30px;
    vertical-align: middle;
    background-color: #F1EDE5;
}

form fieldset input {
    box-sizing: border-box;
    width: 66%;
    height: 44px;
    margin-left: -5px;
    padding-left: 10px;
    border: 1px solid #F1EDE5;
    border-collapse: collapse;
}

form fieldset select {
    box-sizing: border-box;
    width: 66%;
    height: 44px;
    margin-left: -5px;
    padding-left: 10px;
    border: 1px solid #F1EDE5;
}

form fieldset .message {
    display: block;
}

form fieldset textarea {
    box-sizing: border-box;
    width: 100%;
    margin-top: -1px;
    padding: 5px;
    border: 1px solid #F1EDE5;
}

blockquote {
    text-align: right;
}

form .submit,
blockquote p a {
    box-sizing: border-box;
    display: inline-block;
    margin-right: calc(20% + 5px);
    padding: 20px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    color: white !important;
    background-color: #CBBB9D;
    transition: all 500ms;
}

form .submit:hover,
blockquote p a:hover {
    background-color: #A59880;
    color: white;

}

.footer-right>div,
.footer-right>div>div,
.unesco {
    max-width: 100% !important;
    box-sizing: border-box;
}

/* ==============================
=========== MEDIA QUERIES =======
=================================*/





/* Large Devices, Wide Screens */

@media only screen and (max-width:1200px) {
    .header-home {
        height: 600px;
    }

    .overall {
        max-width: 960px;
    }

    .owl-carousel img {
        width: auto;
        max-height: 600px;
    }

    .header-overall {
        padding: 30px 10px;
    }

    header .row_nav nav ul li a {
        padding: 30px 10px 0;
        font-size: 1em;
    }

    header .left {
        left: 15px;
        width: 9%;
    }

    header .right {
        right: 15px;
        width: 9%;
    }

    header .header-title {
        padding-top: 100px;
    }

    header .header-title img {
        width: 80%;
    }

    header .header-title h2 {
        font-size: 2em;
    }

    header .header-bg-carousel .owl-nav {
        position: relative;
        top: -290px;
        left: -60px;
    }

    /* HOME TXT-CONTENT*/
    .txt-content {
        padding-top: 40px;
        padding-right: 20px;
        padding-left: 100px;
    }

    section .overall .txt-content h2 {
        font-size: 3.5em;
    }

    section .overall .txt-content h3 {
        font-size: 1.5em;
    }

    section .overall .txt-content p {
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 1em;
    }

    /* BOUTIQUE */
    .boutique .overall {
        padding-left: 20px;
    }

    .boutique .boutique-left {
        box-sizing: border-box;
        padding: 0;
        padding-top: 40px;
    }

    .boutique .boutique-left h2 {
        font-size: 3.25em;
    }

    header .row_nav nav ul li {
        padding: 10px 0px 5px 0px;
    }

    header .row_nav nav ul li a {
        padding: 0px 10px 0;
    }

    .boutique .boutique-left img {
        height: 170px;
        margin-left: 20px;
    }

    .boutique .boutique-right {
        float: left;
        box-sizing: border-box;
        width: 50%;
        padding: 50px 0 50px 100px;
    }

    .boutique .boutique-right h3 {
        margin-top: 20px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 700;
        color: white;
    }

    .boutique .boutique-right p {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 1.125em;
        color: white;
    }

    /* HEADER CONTENU */
    .header-overall-page img {
        max-height: 70px;
    }

    .bg-row-page {
        position: absolute;
        width: 100%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/* Medium Devices, Desktops */

@media only screen and (max-width:991px) {
    header .row_nav nav ul li:last-child a {
        margin-left: 0;
    }

    .content-page .content-right .img-principale {
        height: 400px;
    }

    header .left {
        left: 0;
    }

    .overall {
        padding: 0 30px;
    }

    .header-overall {
        padding: 0;
    }

    .header-overall-page {
        padding: 0;
    }

    /* HEADER HOME*/
    .header-home {
        height: 500px;
    }

    .owl-carousel img {
        max-height: 500px;
    }

    header .left {
        box-sizing: border-box;
        padding: 10px;
    }

    header .right {
        left: 0;
        box-sizing: border-box;
        width: inherit;
        height: auto;
        padding: 10px;
    }

    header .left img {
        height: auto;
        max-width: 70px;
    }

    header .right img {
        height: auto;
        max-width: 70px;
    }

    header .header-title {
        padding-top: 100px;
    }

    header .header-title img {
        width: 70%;
    }

    header .header-title h2 {
        font-size: 1.8em;
    }

    header .header-bg-carousel .owl-nav {
        position: relative;
        top: -290px;
        left: -60px;
    }

    header .row_nav nav {
        width: 80%;
        margin: auto;
    }

    .bg-row-page {
        display: none;
    }

    /* En ce moment */
    .content-news h2 {
        margin: auto;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
        font-size: 4em;
    }

    .event-home {
        height: 240px;
    }

    .event-home .event-left .category {
        padding: 7px 15px;
        font-size: 1em;
    }

    .event-home .event-right {
        padding-right: 15px;
        padding-left: 60px;
    }

    .event-home .event-right h5 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.1em;
    }

    .event-home .event-right h6 {
        margin-top: 0;
        font-size: 0.9em;
    }

    .event-home .event-right p {
        margin-top: 10px;
        font-size: 1em;
    }

    /* BOUTIQUE */
    .boutique .boutique-left h2 {
        display: block;
        text-align: center;
        font-size: 3em;
    }

    .boutique .boutique-left img {
        height: 120px;
        margin-top: 10px;
        margin-left: calc(50% - 60px);
        text-align: center;
    }

    .boutique .boutique-right {
        float: left;
        box-sizing: border-box;
        width: 50%;
        padding: 50px 15px 50px 50px;
    }

    .boutique .boutique-right h3 {
        margin-top: 20px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 700;
        color: white;
    }

    .boutique .boutique-right p {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 1.125em;
        color: white;
    }

    /* FOOTER */
    footer .contact-line p {
        display: inline-block;
        padding-left: 10px;
        font-size: 1em;
        vertical-align: top;
    }

    footer .logo img {
        padding: 10px 25px 10px 0;
        max-width: 320px;
    }

    footer .logo-line {
        display: block;
    }

    footer .logo-line img {
        display: inline-block;
        vertical-align: top;
    }

    /* HEADER CONTENU */
    header .bg-header-page {
        background: url('../images/contenu_bg-header.jpg') top right no-repeat #CBBB9D;
        background-size: auto 100%;
    }

    .bg-row-page {
        display: none;
    }

    .header-page {
        height: 500px;
    }

    .header-overall-page {
        max-height: 500px;
    }

    /* CONTENT CONTENU */
    .content-page img {
        padding: 0;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width:768px) {
    .content-page .content-right .img-principale {
        height: 500px;
    }

    /* HEADER TABLETTE */
    .content-page h1 {
        font-size: 2.5em;
    }

    .content-page h2 {
        font-size: 1.5em;
    }

    .content-right p,
    .content-right h3 {
        padding-left: 0;
    }

    .content-left {
        width: 100%;
    }

    .content-right {
        float: left;
        box-sizing: border-box;
        width: 100%;
    }

    .owl-carousel .owl-dot {
        width: 30px;
    }

    .owl-carousel .owl-dots {
        position: absolute;
        bottom: 60px;
        left: calc(50% - 69px);
    }

    .header-page .row-nav .left {
        right: 15%;
        box-sizing: border-box;
        width: 100%;
        height: auto;
    }

    header .row_nav {
        padding-left: 0;
    }

    /* CONTENT HOME TABLETTE */
    .illustration-roue {
        display: none;
    }

    section .overall .txt-content {
        width: 50%;
        margin-left: 50%;
        padding-left: 40px;
    }

    /* From tablette */
    table th {
        vertical-align: top;
    }

    .titre-form {
        padding-left: 30px;
    }

    form {
        padding: 0 30px;
    }

    form fieldset img {
        display: none;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width:480px) {
    table {
        width: auto !important;
    }

    section.content-home {
        max-height: none;
    }

    header .header-title h1 {
        font-size: 1.5em;
    }

    .header-home {
        height: 300px;
    }

    header .left img {
        height: auto;
        max-width: 50px;
    }

    header .right img {
        height: auto;
        max-width: 50px;
    }

    header .header-title {
        padding-top: 50px;
    }

    header .header-title img {
        width: 85%;
    }

    header .header-title h2 {
        font-size: 1em;
    }

    /* === En ce moment Mobile */
    .content-news h2 {
        font-size: 1.5em;
    }

    .event-home {
        height: 370px;
    }

    .event-home .event-left {
        width: 100%;
    }

    .tirait {
        display: none;
    }

    .event-home .event-right {
        width: 100%;
        padding: 15px;
    }

    .event-home .event-left .category {
        padding: 4px 7px;
        font-size: 0.8em;
    }

    .content-news .link-news {
        margin-top: 0;
    }

    .content-news .link-news a {
        padding: 20px 20px;
        border: 1px solid white;
        font-size: 1em;
    }

    /* === Notre boutique Mobile */
    .boutique .overall {
        padding-left: 0;
    }

    .boutique .boutique-left {
        width: 100%;
        padding: 15px;
    }

    .boutique .boutique-right {
        width: 100%;
        padding: 15px;
    }

    /* footer mobile */
    footer .bg-footer-wrapper {
        display: none;
    }

    footer .overall {
        padding: 40px;
    }

    footer .footer-left {
        width: 100%;
        padding: 20px 0;
    }

    footer .contact-line .facebook {
        width: 70%;
        color: #A59880;
    }

    footer .logo img {
        padding: 10px 15px 10px 0;
        max-width: 320px;
    }

    footer .logo .unesco {
        width: 100%;
    }

    footer .logo .partenaires {
        width: 150px;
    }

    footer .footer-right {
        width: 100%;
        padding: 10px;
    }

    /* HEADER PAGE CONTENU */
    .header-page {
        height: 400px;
    }

    header .bg-header-page {
        height: 400px;
        background: url('../images/contenu_bg-header.jpg') center bottom no-repeat #CBBB9D;
        background-size: auto 100%;
    }

    .bg-breadcrumb-wrapper {
        width: 100%;
        height: 25px;
    }

    .breadcrumb {
        width: 100%;
        height: 25px;
    }

    /* Contenu page mobile */
    .content-page {
        background-size: contain;
        background-position-y: 200px;
    }

    .content-page p,
    .content-page h4,
    .content-page h3,
    .content-page h2 {
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
    }

    .content-page h2 {
        margin-top: 20px;
        font-family: 'Yeseva One', cursive;
        font-size: 2.5em;
    }

    .content-page h3 {
        margin-top: 10px;
        font-size: 1.8em;
    }

    .content-page h4 {
        font-size: 1.5em;
        color: #FBA03B;
    }

    .page-row-content {
        margin-top: 20px;
    }

    .content-page p {
        width: 100%;
        margin-bottom: 15px;
    }

    /* Contenu tableau mobile */
    .row-form {
        margin-top: 10px;
    }

    table {
        border-spacing: 1px;
        font-size: 0.7em;
    }

    table th {
        width: auto;
        height: auto;
        font-size: 0.8em;
    }

    table th strong {
        margin: 0;
        font-weight: 700;
    }

    .empty {
        opacity: 0;
    }

    table td {
        width: auto;
        height: auto;
        border: 1px solid #CBBB9D;
        background-color: white;
    }

    table td img {
        min-width: 70px;
        height: auto !important;
    }

    .tableau table .colonne1 {
        background-color: #CBBB9D;
    }

    .col-50 {
        width: 100%;
    }

    .titre-form {
        padding-left: 0;
    }

    form {
        padding: 15px 15px;
    }

    form fieldset label {
        padding-left: 10px;
    }
}

/* MENU HAMBURGER */

@media(min-width:991px) {
    #btn_menu {
        display: none;
    }

    .mobile-only {
        display: none;
    }
}

@media(max-width:991px) {

    section.content-home {
        height: auto;
    }

    section .bg-content-wrapper .bg-content-left {
        display: none;
    }

    section .bg-content-wrapper .bg-content-right {
        z-index: -30;
        bottom: 0;
        width: 100%;
        height: auto;
    }

    section .overall .txt-content {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    section .overall .txt-content h2 {
        font-size: 1.5em;
    }

    section .overall .txt-content h3 {
        margin-bottom: 10px;
        font-size: 2em;
    }

    section .overall .txt-content p {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 1em;
    }

    .illustration-roue {
        display: none;
    }

    #menu {
        z-index: 4;
    }

    #btn_menu {
        display: block;
        z-index: 5;
        float: right;
        position: relative;
        top: 0;
        box-sizing: border-box;
        width: 10%;
        height: 13px;
        margin-top: 25px;
        margin-left: 15px;
        border-radius: 4px;
        color: white;
        cursor: pointer;
    }

    #btn_menu span::after,
    #btn_menu span::before {
        content: "";
        position: absolute;
        top: -9px;
        left: 0;
    }

    #btn_menu span::after {
        top: 9px;
    }

    #btn_menu span {
        display: block;
        position: relative;
    }

    #btn_menu span,
    #btn_menu span::after,
    #btn_menu span::before {
        width: 30px;
        height: 2px;
        border-radius: 2px;
        background-color: white;
        transition: all 0.3s ease 0s;
        backface-visibility: hidden;
    }

    #btn_menu.actif span {
        background-color: transparent;
    }

    #btn_menu.actif span::before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #btn_menu.actif span::after {
        transform: rotate(-45deg) translate(7px, -8px);
    }

    #menu {
        position: absolute;
        width: 100%;
    }

    #deroulant {
        display: block;
        margin: 0;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.9);
        transition: all 500ms;
    }

    #deroulant.actif {
        max-height: 35em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    #menu {
        width: 100%;
        height: auto;
    }

    #deroulant>li {
        width: 100%;
        margin-top: 0;
        border: none;
        text-align: center;
        transform: none;
    }

    header .row_nav nav ul li a {
        padding: 10px 10px;
        font-size: 1em;
    }

    /* GESTION LOGO HEADER */
    header .left {
        right: 15%;
        box-sizing: border-box;
        width: 100%;
        height: auto;
    }

    header .right {
        right: 15%;
        box-sizing: border-box;
        width: 100%;
        height: auto;
    }

    #cookie_disclaimer .overall {
        padding: 0;
    }

    .event-home .event-left .img-wrapper {
        width: auto;
        height: auto;
    }
}

#cookie_disclaimer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: calc(100% - 40px);
    background: #F2F2F2;
    padding: 20px;
    color: #333;
    z-index: 1000;
}

#cookie_disclaimer .title {
    font-weight: 700;
    font-size: 1.225em;
    padding-right: 100px;
}

#cookie_disclaimer p {
    padding-right: 100px;
}

#cookie_disclaimer a {
    float: right;
    background: #CFBA9A;
    color: white;
    display: inline-block;
    font-weight: 900;
    height: calc(100% - 100px);
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    width: 30px;
    transition: all 500ms;
}

#cookie_disclaimer a:hover {
    background: #AF9A7A;
}


/* Rajout galerie */
.toolbar {
    display: flex;
}

.toolbar a {
    margin-top: 20px;
    font-family: 'Yeseva One', cursive;
    font-size: 2em;
    margin-bottom: 40px;
    vertical-align: top;
    color: #A59880;
    font-weight: normal;
    margin-right: 20px;
}

.toolbar a.active {
    color: #3E3D40;
    background-color: transparent !important;
}

.toolbar a:hover {
    color: #3E3D40;
    transition: all 0.2s;
}

.grid {
    display: block;
    margin: auto;
    min-height: 600px;
    max-width: 1190px;
}

.grid-item {
    float: left;
    width: 269px;
    height: 250px !important;
    /* background: #0D8; */
    margin: 5px;
    position: relative;
    background-color: #3E3D40;
}

.grid-item .text {
    width: 269px;
    height: 250px;
}

.grid-item .text p {
    color: white;
    font-size: 1em;
    width: 90%;
    margin: auto;
}

.grid-item .text h3 {
    color: #FBA03B;
    font-size: 1.25em;
    text-transform: uppercase;
    width: 90%;
    padding: 8% 0;
    margin: auto;
}

.grid-item img {
    height: 250px !important;
    width: 100%;
    opacity: 1;
    display: block;
    object-fit: cover;
    transition: .5s ease;
    backface-visibility: hidden;
}

.grid-item:hover img {
    opacity: 0.3;
}

.grid-item:hover .middle {
    opacity: 1;
}

.grid-item--width2 {
    width: 550px;
}

.grid-item--height2 {
    height: 510px !important;
}

.grid-item--height2 img {
    height: 510px !important;
}

.grid .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.grid-item--width2 .text {

    width: 550px;
    height: 250px;
}

.grid-item--height2 .text {
    height: 510px !important;
    width: 269px;
}

@media (max-width: 1200.99px) {

    /* Rajout galerie */
    .toolbar a {
        font-size: 1.6em;
    }
}

@media (max-width: 899.99px) {


    /* Rajout galerie */
    .toolbar a {
        font-size: 1.2em;
    }
}

@media (max-width: 635.99px) {

    /* Rajout galerie */
    .toolbar {
        display: flex;
        flex-direction: column;
    }

    .toolbar a {
        margin-top: 5px;
        font-size: 1.2em;
        margin-bottom: 5px;
        text-align: center;
        margin-right: 0px;
    }

    .grid {
        margin-top: 15px;
    }

    .grid-item {
        float: none;
        width: 100%;
        height: 360px !important;
        background-color: #3E3D40;
    }

    .grid-item .text {
        width: 300px;
        height: 300px;
    }

    .grid-item .text h3 {
        padding-left: 15px;
    }

    .grid-item img {
        height: 360px !important;
    }

    .grid-item--width2 {
        width: 100%;
    }

    .grid-item--width2 {
        height: 200px !important;
    }

    .grid-item--width2 img {
        height: 200px !important;
    }

    .grid-item--height2 {
        height: 510px !important;
    }

    .grid-item--height2 img {
        height: 510px !important;
    }

    .grid-item--width2 .text {

        width: 300px;
        height: 200px;
    }

    .grid-item--height2 .text {
        height: 510px !important;
        width: 300px;
    }
}